body{
    margin: 0;
    padding-top: 9.5rem;
    font-family: Arial, Helvetica, sans-serif;
}

/* ======= NAVBAR ========*/
.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1001;
    transition: transform 0.1s ease;
    background-color: rgb(199, 166, 21);
    color: white;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img{
    width: 8rem;
    height: 5rem;
}

.left{
    list-style: none;
    display: flex;
    gap: 2rem;
}

.left:hover{
    cursor: pointer;
}

.right{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 5rem;
    padding-right: 5rem;
}

.right img{
    height: 1.5rem;
    width: 1.5rem;
    margin: 0.2rem;
}

.dropdown{
    position: relative;
    list-style: none;
}

.dropdown-toggle {
  background: transparent;
  border: 1.5px solid white;
  color: white;
  padding: 0.4rem 0.8rem;
  border-radius: 0.3rem;
  cursor: pointer;
  font-size: 0.9rem;
}

.dropdown-menu{
    position: absolute;
    top: 100%;
    padding: 0;
    width: 20rem;
    max-height: 15rem;
    overflow-y: auto;
    display: none;
    
    background: white;
    color: black;
    list-style: none;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    border-radius: 0.2rem;
}

.dropdown-menu.show{
    display: block;
}

.dropdown-menu li{
    padding: 0.6rem 1rem;
    cursor: pointer;
}

.dropdown-menu li:hover{
    background-color: #f2f2f2;
}

.socials img:hover{
    cursor: pointer;
    transform: scale(1.2);
}

/* ======= TOPBAR ========*/
.topbar{
    display: flex;
    height: 6rem;
    justify-content: space-between;
    position: fixed;
    top: 3.5rem;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: white;
    transition: top 0.1s ease;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.08);
}

.menu{
    display: flex;
    gap: 1.2rem;
    align-items: center;
    color: rgba(5, 5, 5, 0.398);
    padding-right: 4rem;
}

.menu:hover{
    display: flex;
    cursor: pointer;
}

.logo img{
    padding-left: 6.6rem;
    padding-top: 0.5rem;
}

.menu li{
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.05rem;
    letter-spacing: 0.04rem;
}

.menu button{
    height: 2.5rem;
    width: 8rem;
    background-color: rgb(199, 166, 21);
    border-radius: 0.2rem;
    border: none;
    font-size: 0.85rem;
    color: white;
    letter-spacing: 0.1rem;
    font-weight: 600;
    cursor: pointer;
}

.bg-img img{
    width: 100%;
    height: 25rem;
    object-fit: cover;
}

/* ======= CONTAINER ========*/
.container{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    background-color: #fffdfd;
    padding: 5rem 0;
}

.boxes{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.box,
.box1 {
    display: flex;
    flex-direction: column;
    height: 12rem;
    width: 22rem;
    background-color: white;
    border-radius: 0.3rem;
    border: 1px solid rgba(0, 0, 0, 0.15);
    margin: 1rem;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.boxes img{
    height: 7rem;
    width: 7rem;
}

.boxes p{
    font-size: 1.4rem;
    font-weight: 550;
    color: black;
}

/* ======= ABOUT ========*/
.about{
    height: 19rem;
    background-color: rgb(199, 166, 21);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.layout{
    display: flex;
    padding: 5rem;
    font-size: 1rem;
    letter-spacing: 0.01rem;
    line-height: 1.7rem;
    gap: 2rem;
}

.layout h3{
    letter-spacing: 0.04rem;

}

.about li{
    list-style: none;
}

.box2{
    height: 16rem;
    width: 24rem;
}

.box3{
    height: 16rem;
    width: 8rem;
}

.box4{
    height: 16rem;
    width: 18rem;
}

.box4 img{
    width: 2rem;
    height: 2rem;
    margin: 0.06rem;
}

.mini-logo{
    padding-left: 1rem;
}

.mini-logo img{
    cursor: pointer;
}

.mini-logo img:hover{
    cursor: pointer;
    transform: scale(1.2);
}

input{
    width: 250px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 0.3rem;
    margin: 0.5rem;
    padding-left: 1rem;
}

.subscribe-btn{
    width: 100%;
    width: 17rem;            
    display: block;
    text-align: center;
    background-color: white;
    color:  rgb(167, 142, 31);
    border: none;
    padding: 0.7rem;
    border-radius: 4px;
    cursor: pointer;        
    font-weight: bold;
}

/* ======= FOOTER ========*/
footer{
    background-color: rgb(167, 142, 31);
    height: 3.5rem;
    display: flex;
    flex-direction: column;
}

.down{
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
}

.subscribe-btn:hover{
    transform: scale(1.02);
}